

.dsmeta-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

    .cor-titulo-vendas {
        color: #676fff;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .forma-caixa-espaco-data1 {
        margin-bottom: 16px;
        max-width: 300px;
    }

    .forma-caixa-data1 {
        width: 100%;
        height: 46px;
        background-color: #182531;
        border: 1px solid #384459;
        border-radius: 5px;
        color: #9aaabe;
        padding: 0px 20px;
        font-size: 18px;
    }

    .tabela-de-vendas-configurar {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }

    .tabela-de-vendas-configurar thead {
        height: 50px;
        font-size: 16px;
        color: #e9e9e9;
        font-weight: 700;
    }

    .tabela-de-vendas-configurar tbody {
        font-size: 14px;
        font-weight: 400;
        color: #cfcfcf;
        text-align: center;
    }


    .tabela-de-vendas-configurar tbody tr {
        height: 74px;
        border-top: 1px solid #5f6e82;
    }

    .tabela-de-vendas-configurar tbody tr:hover>td {
        background-color: #384459;
    }

    .tabela-de-vendas-configurar tbody tr:nth-child(odd) {
        background-color: #242c3b;
    }

    .botao-red-btn-caixa {
        display: flex;
        justify-content: center;
    }

    .show576 {
        display: none;
    }

    .show992 {
        display: none;
    }

    @media (min-width: 576px) {
        .show576 {
            display: table-cell;
        }

        .dsmeta-card {
            padding: 35px;
        }

        .tabela-de-vendas-configurar tbody tr {
            height: 55px;
        }

        .tabela-de-vendas-configurar tbody {
            font-size: 18px;
        }

        @media (min-width: 992px) {
            .show992 {
                display: table-cell;
            }